ABOUT-NLS
ChangeLog
*~
config.guess
config.rpath
config.sub
intltool-extract.in
intltool-merge.in
intltool-update.in
aclocal.m4
*.cache
config.h
config.h.in
config.log
config.status
configure
depcomp
README
README.html
install-sh
missing
*.o
stamp*
Makefile
Makefile.in
.deps
*.tar.gz
